.hidden {
    display: none;
}
P {
color: white;
   text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}
body {
   background-image: url("http://www.psdgraphics.com/file/red-grunge.jpg");
    min-height: 100%;
    min-width: 100%;
}
.view {
 display: none;

}

.view2 {
 display:none;


}
.lg {
  height:120%;
   width:100%;
   background-image:url("http://www.psdgraphics.com/file/red-grunge.jpg");
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
   /*css hack for ie*/     
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}
.backimg{
  height:100%;
   width:100%;
   background-image:url("http://www.psdgraphics.com/file/red-grunge.jpg");
   background-repeat:repeat;/*we want to have one single image not a repeated one*/  
   background-size: cover;/*this sets the image to fullscreen covering the whole screen*/  
   /*css hack for ie*/     
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";




}
label {
    color: white;
   text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


h2 {
    
   color: white;
   text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h1 {
      color: white;
   text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    background-color: #7D1935;

}

.remove{
    color: black;
    
    
}

#form {
       margin-top: 70px;
    width: 100%;
    background-color:#7D1935 ;
    height: 150px;
-webkit-box-shadow: inset -1px -1px 5px 11px rgba(0,0,0,0.22);
-moz-box-shadow: inset -1px -1px 5px 11px rgba(0,0,0,0.22);
box-shadow: inset -1px -1px 5px 11px rgba(0,0,0,0.22);
}



 #input {
    height: 10px;
    display: flex;
}



    

#details {
    padding-bottom: -10px;
}


    
#pa{
    font-family: Impact;
    font-size: 20px;
    text-align: center;
}



#det {
    margin-bottom: -7px
}




#entry {
 align-content: center;
    text-align: center;
    margin-top: 35px;
}



.slide {

}



#form {
    width: 100%;
    background-color: none;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 20px;
}




#class {
    height: 26px;
}



#submit {
    text-align: center;
    font-family: Impact;
}

#sub{
 
}

#details {
    padding-bottom: -10px;
}



#det {
    margin-bottom: -7px
}




.classheader {
    display: block;
    cursor: pointer;
    color: white;
    padding-left:15px;
    
}


}
li {
    color: black;
}


.float {
    float: right;
}

h4 {
    padding-left: 150px;
    font-size: 12px;
    display: inline-block;
}
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 700px) {
 #class{
    display: block;
 
 }
 
  #assname{
    display: block;
    padding-top: 0px;
 }

     #textar{
    display: block;
    padding-top: px;

        
 }
    #date {
    display:block;
    margin-left: -60px;
    }

   #datee {
    vertical-align: center;
    margin-left: -0px;
   
   }
     #sub{
    display: block;
    vertical-align: center;
    padding-top: px;
 
 }
     #form{
        margin-top: 70px;
    width: 100%;
    background-color:#7D1935 ;
    height: 265px;
-webkit-box-shadow: inset -1px -1px 5px 11px rgba(0,0,0,0.22);
-moz-box-shadow: inset -1px -1px 5px 11px rgba(0,0,0,0.22);
box-shadow: inset -1px -1px 5px 11px rgba(0,0,0,0.22);
 
 }
 ul {
     margin-left:15px;
     
     
 }
    .wee{

    margin-top: 5px;
    margin-bottom: 5px;
    
    }
        .weee{

    margin-top: 15px;
    margin-bottom: 15px;
    
    }
    
 }
}
